<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GuestBook</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Guest-Book</h1>
        </header>
        <div id="addbutton" class="addbutton animate">
            <button onclick="createForm()" id="addstudent">Add Post</button>
        </div>
        <div id="studentsform">
            <form id="form_tag" method="POST" onsubmit="setTimeout(function(){window.location.reload();},10)">
                <div id="form"></div>
                <div id="add"></div>
            </form>
        </div>
            {% for post in postData %}

                <div class="postbox">
                    <div class="postrow">
                        <label>Message</label>
                        <div class="textbox"><p>{{post.message}}</p></div>
                    </div>
                    <div class="postrow">
                        <label>Name</label>
                        <div class="textbox"><p>{{post.name}}</p></div>
                    </div>
                    <div class="postrow">
                        <label>Email</label>
                        <div class="textbox"><p>{{post.email}}</p></div>
                    </div>
                    <div class="postrow">
                        <label>Date</label>
                        <div class="textbox"><p>{{post.date}}</p></div>
                    </div>
                </div>
            {% endfor %}
    </body>
     <script src="static/js/messageform.js"></script>
</html>